.bars {
	width: 80%;
	float: left;
	padding: 0;
	text-align: left;
}

.bars .skills {
	margin-top: 36px;
	list-style: none;
}

.bars li {
	position: relative;
	margin-bottom: 60px;
	background: #ccc;
	height: 42px;
	border-radius: 5px;
}

.bars li em {
	font: 15px 'opensans-bold', sans-serif;
	color: #007bff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}

.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #007bff;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 5px 0 0 5px;
}

.java {
	width: 60%;
	-moz-animation: java 2s ease;
	-webkit-animation: java 2s ease;
}

.hippocms {
	width: 55%;
	-moz-animation: hippocms 2s ease;
	-webkit-animation: hippocms 2s ease;
}

.android {
	width: 50%;
	-moz-animation: android 2s ease;
	-webkit-animation: android 2s ease;
}

.css {
	width: 50%;
	-moz-animation: css 2s ease;
	-webkit-animation: css 2s ease;
}

.extjs {
	width: 45%;
	-moz-animation: extjs 2s ease;
	-webkit-animation: extjs 2s ease;
}

.jquery {
	width: 50%;
	-moz-animation: jquery 2s ease;
	-webkit-animation: jquery 2s ease;
}

@
-moz-keyframes java { 0% {
	width: 0px;
}

100%
{
width
:
 
60%;
}
}
@
-moz-keyframes hippocms { 0% {
	width: 0px;
}

100%
{
width
:
 
55%;
}
}
@
-moz-keyframes android { 0% {
	width: 0px;
}

100%
{
width
:
 
50%;
}
}
@
-moz-keyframes css { 0% {
	width: 0px;
}

100%
{
width
:
 
50%;
}
}
@
-moz-keyframes extjs { 0% {
	width: 0px;
}

100%
{
width
:
 
45%;
}
}
@
-moz-keyframes jquery { 0% {
	width: 0px;
}

100%
{
width
:
 
50%;
}
}
@
-webkit-keyframes java { 0% {
	width: 0px;
}

100%
{
width
:
 
60%;
}
}
@
-webkit-keyframes hippocms { 0% {
	width: 0px;
}

100%
{
width
:
 
55%;
}
}
@
-webkit-keyframes android { 0% {
	width: 0px;
}

100%
{
width
:
 
50%;
}
}
@
-webkit-keyframes css { 0% {
	width: 0px;
}

100%
{
width
:
 
50%;
}
}
@
-webkit-keyframes extjs { 0% {
	width: 0px;
}

100%
{
width
:
 
45%;
}
}
@
-webkit-keyframes jquery { 0% {
	width: 0px;
}
100%
{
width
:
 
50%;
}
}